* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    font-family: "Menlo", monospace, sans-serif;
    font-style: lighter; 
    background-color: #d8d8d8; 
}

/* Header Style */

header {
    background-color: #477edb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    margin: 0px 3%;
    padding: 10px 0 0 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header a {
    color: #ffffff;
}

header nav ul {
    list-style: none;
    padding: 0px 0 10px 0;
    margin: 0 auto;
    font-size: 1.5em;
}

header nav ul li {
    padding: 3px 0; 
    display: inline;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px 
}

/* About Section Style */

.about {
    margin: 0 3%;
}

#about img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 5% 30%;
}

p span {
    font-weight: bold;
}

/* Work Section Style */

.work h2 {
    margin: 0 3%;
}

.work p {
    margin-right: 3%;
    margin-left: 3%;
}

.projects {
    position: relative;
    display: inline-block;
}

.projects .feature-project-text {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 20%;
    color: white; 
    height: 50%;
    width: 80%;
}

.projects .feature-project-text h3 {
    font-size: 4vw;
}

.projects .feature-project-text p {
    font-size: 3vw; 
}

.image-one {
    margin: 0 3%;
    width: 92%;
    display: flex; 
    border: 2px #477edb solid;
    opacity: 0.8;
}

.image-one:hover {
    border: 2px #ffffff solid;
    opacity: 1;
}

.projects h3, .projects p {
    text-align: center;
}

.secondary-projects {
    margin: 10px auto; 
    width: 90%; 
    display: flex; 
    position: relative;
}

.secondary-projects .secondary-project-text {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white; 
    width: 100%; 
    top: 20%;
}

.project-two-text {

}

.project-three-text {

}

.project-four-text {

}

.secondary-projects img {
    justify-content: center; 
    width: 30%;
    margin-right: 3%;
    border: 2px #477edb solid;
    opacity: 0.8;
}

.secondary-projects img:hover {
    border: 2px #ffffff solid;
    opacity: 1;
}

/* Footer Style */

.contact {
    background-color: #477edb;
    color: white;
}

.contact h2 {
    margin: 0 3%;
    padding: 10px 0 0 0; 
}

.contact a {
    color: white;
}

.footer-elements {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0 3%;
}